USE [master]
GO
/****** Objeto: Database [ReservasLaboratorios] Fecha de script: 04/10/2026 11:58:34 a. m. ******/
CREATE DATABASE [ReservasLaboratorios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReservasLaboratorios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ReservasLaboratorios.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReservasLaboratorios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ReservasLaboratorios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReservasLaboratorios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReservasLaboratorios]
GO
/****** Objeto: Table [dbo].[Cancelaciones] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancelaciones](
	[CancelacionId] [int] IDENTITY(1,1) NOT NULL,
	[ReservaId] [int] NOT NULL,
	[CanceladaPorId] [int] NOT NULL,
	[FechaCancelacion] [datetime2](7) NOT NULL,
	[Motivo] [nvarchar](255) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Cancelaciones] PRIMARY KEY CLUSTERED 
(
	[CancelacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Laboratorios] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratorios](
	[LaboratorioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Ubicacion] [nvarchar](150) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[HoraApertura] [time](0) NOT NULL,
	[HoraCierre] [time](0) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Laboratorios] PRIMARY KEY CLUSTERED 
(
	[LaboratorioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reservas] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaId] [int] IDENTITY(1,1) NOT NULL,
	[LaboratorioId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](0) NOT NULL,
	[HoraFin] [time](0) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
	[RolId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cancelaciones] ON 

INSERT [dbo].[Cancelaciones] ([CancelacionId], [ReservaId], [CanceladaPorId], [FechaCancelacion], [Motivo], [Active]) VALUES (1, 1, 2, CAST(N'2026-09-26T12:19:09.1889169' AS DateTime2), N'El usuario no pudo asistir', 1)
SET IDENTITY_INSERT [dbo].[Cancelaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Laboratorios] ON 

INSERT [dbo].[Laboratorios] ([LaboratorioId], [Nombre], [Ubicacion], [Capacidad], [Estado], [HoraApertura], [HoraCierre], [Active]) VALUES (1, N'Lab Computo 1', N'Edificio A - Piso 2', 30, N'Habilitado', CAST(N'07:00:00' AS Time), CAST(N'22:00:00' AS Time), 1)
INSERT [dbo].[Laboratorios] ([LaboratorioId], [Nombre], [Ubicacion], [Capacidad], [Estado], [HoraApertura], [HoraCierre], [Active]) VALUES (2, N'Lab Redes', N'Edificio B - Piso 1', 25, N'Habilitado', CAST(N'08:00:00' AS Time), CAST(N'20:00:00' AS Time), 1)
INSERT [dbo].[Laboratorios] ([LaboratorioId], [Nombre], [Ubicacion], [Capacidad], [Estado], [HoraApertura], [HoraCierre], [Active]) VALUES (3, N'Lab Electrónica', N'Edificio C - Piso 3', 20, N'FueraDeServicio', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Laboratorios] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([ReservaId], [LaboratorioId], [UsuarioId], [Fecha], [HoraInicio], [HoraFin], [Estado], [FechaRegistro], [Active]) VALUES (1, 1, 2, CAST(N'2026-09-20' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Activa', CAST(N'2026-09-26T12:19:09.1879203' AS DateTime2), 1)
INSERT [dbo].[Reservas] ([ReservaId], [LaboratorioId], [UsuarioId], [Fecha], [HoraInicio], [HoraFin], [Estado], [FechaRegistro], [Active]) VALUES (2, 2, 3, CAST(N'2026-09-21' AS Date), CAST(N'10:00:00' AS Time), CAST(N'13:00:00' AS Time), N'Activa', CAST(N'2026-09-26T12:19:09.1879203' AS DateTime2), 1)
INSERT [dbo].[Reservas] ([ReservaId], [LaboratorioId], [UsuarioId], [Fecha], [HoraInicio], [HoraFin], [Estado], [FechaRegistro], [Active]) VALUES (3, 1, 2, CAST(N'2026-10-06' AS Date), CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Activa', CAST(N'2026-10-04T12:00:00' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolId], [NombreRol], [Descripcion]) VALUES (1, N'Administrador', N'Acceso total al sistema')
INSERT [dbo].[Roles] ([RolId], [NombreRol], [Descripcion]) VALUES (2, N'Usuario', N'Acceso limitado a reservas')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 
INSERT [dbo].[Usuarios] ([UsuarioId], [NombreUsuario], [NombreCompleto], [Correo], [Contraseña], [RolId], [Activo], [FechaRegistro]) VALUES (1, N'Admi', N'Administrador General', N'admin@utn.ac.cr', N'$2b$11$84oljkx4lQlouQM/2YEADOicry5wUIwOCEQlG3oixXwfvc6t9xSyi', 1, 1, CAST(N'2026-09-26T12:19:09.1869213' AS DateTime2))
INSERT [dbo].[Usuarios] ([UsuarioId], [NombreUsuario], [NombreCompleto], [Correo], [Contraseña], [RolId], [Activo], [FechaRegistro]) VALUES (2, N'user01', N'Matthew', N'matthew@utn.ac.cr', N'$2b$11$5wxIJ3l.xBgGOh15eurIgeIXbGPw75jk8fErgnxrb70JJyY6o.1Xu', 2, 1, CAST(N'2026-09-26T12:19:09.1869213' AS DateTime2))
INSERT [dbo].[Usuarios] ([UsuarioId], [NombreUsuario], [NombreCompleto], [Correo], [Contraseña], [RolId], [Activo], [FechaRegistro]) VALUES (3, N'user02', N'Sebas', N'sebastian@utn.ac.cr', N'$2b$11$yLPDI0hIQe4F49bP.dMCHO2FqGi.zqr4kwHdojwys9hgpsGaRPZDi', 2, 1, CAST(N'2026-09-26T12:19:09.1869213' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Objeto: Index [UQ_Can_Reserva] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
ALTER TABLE [dbo].[Cancelaciones] ADD  CONSTRAINT [UQ_Can_Reserva] UNIQUE NONCLUSTERED 
(
	[ReservaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Lab_Nombre] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
ALTER TABLE [dbo].[Laboratorios] ADD  CONSTRAINT [UQ_Lab_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Roles_Nombre] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Correo] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Usuarios_Nombre] Fecha de script: 04/10/2026 11:58:35 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cancelaciones] ADD  CONSTRAINT [DF_Can_Fecha]  DEFAULT (sysdatetime()) FOR [FechaCancelacion]
GO
ALTER TABLE [dbo].[Cancelaciones] ADD  CONSTRAINT [DF_Can_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Laboratorios] ADD  CONSTRAINT [DF_Lab_Estado]  DEFAULT ('Habilitado') FOR [Estado]
GO
ALTER TABLE [dbo].[Laboratorios] ADD  CONSTRAINT [DF_Lab_Apertura]  DEFAULT ('07:00') FOR [HoraApertura]
GO
ALTER TABLE [dbo].[Laboratorios] ADD  CONSTRAINT [DF_Lab_Cierre]  DEFAULT ('22:00') FOR [HoraCierre]
GO
ALTER TABLE [dbo].[Laboratorios] ADD  CONSTRAINT [DF_Lab_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [DF_Res_Estado]  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [DF_Res_Registro]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Reservas] ADD  CONSTRAINT [DF_Res_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Fecha]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cancelaciones]  WITH CHECK ADD  CONSTRAINT [FK_Can_Reserva] FOREIGN KEY([ReservaId])
REFERENCES [dbo].[Reservas] ([ReservaId])
GO
ALTER TABLE [dbo].[Cancelaciones] CHECK CONSTRAINT [FK_Can_Reserva]
GO
ALTER TABLE [dbo].[Cancelaciones]  WITH CHECK ADD  CONSTRAINT [FK_Can_Usuario] FOREIGN KEY([CanceladaPorId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Cancelaciones] CHECK CONSTRAINT [FK_Can_Usuario]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Lab] FOREIGN KEY([LaboratorioId])
REFERENCES [dbo].[Laboratorios] ([LaboratorioId])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Lab]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usr] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usr]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Rol]
GO
ALTER TABLE [dbo].[Laboratorios]  WITH CHECK ADD  CONSTRAINT [CK_Lab_Capacidad] CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[Laboratorios] CHECK CONSTRAINT [CK_Lab_Capacidad]
GO
ALTER TABLE [dbo].[Laboratorios]  WITH CHECK ADD  CONSTRAINT [CK_Lab_Estado] CHECK  (([Estado]='FueraDeServicio' OR [Estado]='Habilitado'))
GO
ALTER TABLE [dbo].[Laboratorios] CHECK CONSTRAINT [CK_Lab_Estado]
GO
ALTER TABLE [dbo].[Laboratorios]  WITH CHECK ADD  CONSTRAINT [CK_Lab_Horario] CHECK  (([HoraCierre]>[HoraApertura]))
GO
ALTER TABLE [dbo].[Laboratorios] CHECK CONSTRAINT [CK_Lab_Horario]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Res_Duracion] CHECK  ((datediff(minute,[HoraInicio],[HoraFin])<=(240)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Res_Duracion]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Res_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Activa'))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Res_Estado]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Res_Orden] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Res_Orden]
GO
USE [master]
GO
